name: Using Artifacts in actions

on: workflow_dispatch

jobs:

  job1_create:
    runs-on: ubuntu-latest
    steps:
      - name: Create file
        run: echo "Barath" > artifacts.txt

      - name: Upload for next job
        uses: actions/upload-artifact@v4
        with:
          name: temp-artifact
          path: artifacts.txt

  job2_add_waj:
    runs-on: ubuntu-latest
    needs: job1_create
    steps:
      - name: Download temp artifact
        uses: actions/download-artifact@v4
        with:
          name: temp-artifact
          path: .

      - name: Add "waj"
        run: echo "waj" >> artifacts.txt

      - name: Upload back (overwrite old temp)
        uses: actions/upload-artifact@v4
        with:
          name: temp-artifact       
          overwrite: true           
          path: artifacts.txt

  job3_add_K:
    runs-on: ubuntu-latest
    needs: job2_add_waj
    steps:
      - name: Download temp artifact
        uses: actions/download-artifact@v4
        with:
          name: temp-artifact
          path: .

      - name: Add "K"
        run: echo "K" >> artifacts.txt

      - name: Print final content
        run: cat artifacts.txt

      - name:  final artifact 
        uses: actions/upload-artifact@v4
        with:
          name: my-final-artifact
          path: artifacts.txt
