name: Using Artifacts in actions

on: workflow_dispatch

jobs:

  job1_create:
    runs-on: ubuntu-latest
    steps:
      - name: Create file
        run: echo "barath" > artifacts.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: artifacts.txt

  job2_add_waj:
    runs-on: ubuntu-latest
    needs: job1_create
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: my-artifact
          path: .

      - name: Add "waj" to file
        run: echo "waj" > artifacts.txt

      - name: Upload updated artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: artifacts.txt

  job3_add_K:
    runs-on: ubuntu-latest
    needs: job2_add_waj
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: my-artifact
          path: .

      - name: Add "K" to file
        run: echo "K" >> artifacts.txt

      - name: Print final content
        run: cat artifacts.txt

      - name: Upload final artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-final-artifact
          path: artifacts.txt
