name: Using Artifacts in actions

on: workflow_dispatch

jobs:

  job1_create:
    runs-on: ubuntu-latest
    steps:
      - name: Create file
        run: echo "barath" > artifacts.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: artifacts.txt

  job2_add_waj:
    runs-on: ubuntu-latest
    needs: job1_create
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: my-artifact
          path: .

  
