name: CI

permissions:
  contents: write

on:
  push:
    branches: ["develop"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create or append to log file
        run: echo "Build ran at $(date)" >> build_log.txt

      - name: Commit and push changes
        run: |
          git config user.name "Vicky-karthik-2003"
          git config user.email "barathwaj2033.com"
          git add build_log.txt
          git commit -m "Updated build log" || echo "No changes to commit"
          git push
